/*
Student Name: Chloe Damchuk
File name: Microwave Index and Specials CSS Page
Date: October 17, 2024
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Style for navigation area */
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: center; 
    padding: 1%;
    margin: 1%;
    background-color: #4da4eb;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

.nav a {
    color: #4da4eb;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 4px;
}

nav li {
    display: inline-block; 
    font-size: 1em;
}

nav li a {
    padding: 0.5em 1em;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    background-color: #1e69b5;
    transform: scale(1.3);
}

/* Style rules for body and images */
body {
    font-family: "Times New Roman", Times, Serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

/* Style rules for header */
header {
    background-color: #4da4eb;
    padding: 20px 5px;
    text-shadow: auto;
    position: center;
    color: white;
}

/* Header Title */
header h1 {
    margin: 10px 5px;
    font-size: 2.5em;
    font-family: "Times New Roman", Times, Serif;
    text-align: center;
    float: center;
    background-color: #4da4eb;
    padding: 20px 10px;
    color: white;
}

header p {
    text-align: center;
}

/* FAQ Page Styling */
#faq {
    padding: 20px;
    background-color: #fff;
}

h2 {
    font-size: 2em;
    color: #4da4eb;
    text-align: center;
}

.faq-item {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1.2em;
    color: black;
    line-height: 1.6;
}

/* Style rules for footer content */
footer {
    background-color: #4da4eb;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}