/* 
    Name: Chloe Damchuk
    Page Name: CSS Teams page 
    Student number: C0953253
    Date: November 27, 2024
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Style for navigation area */
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: center; 
    padding: 1%;
    margin: 1%;
    background-color: #4da4eb;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

.nav a {
    color: #4da4eb;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 4px;
}

nav li {
    display: inline-block; 
    font-size: 1em;
}

nav li a {
    padding: 0.5em 1em;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    background-color: #1e69b5;
    transform: scale(1.3);
}

/* Style rules for body and images */
body {
    font-family: "Times New Roman", Times, Serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

/* Style rules for header */
header {
    background-color: #4da4eb;
    padding: 20px 5px;
    text-shadow: auto;
    position: center;
    color: white;
}

/* Header Title */
header h1 {
    margin: 10px 5px;
    font-size: 2.5em;
    font-family: "Times New Roman", Times, Serif;
    text-align: center;
    float: center;
    background-color: #4da4eb;
    padding: 20px 10px;
    color: white;
}

h2 {
    text-align: center;
}

header p {
    text-align: center;
}

/* Style rules for main content */
main {
    display: block;
    border-radius: 10px;
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: "Times New Roman", Times, Serif;
    text-shadow: auto;
}

/* Style for team section */
.our-team {
    margin-top: 30px;
}

.team-member {
    background-color: #a1e1fd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member figure {
    margin-bottom: 15px;
}

.team-member img {
    border-radius: round;
    max-width: 300px;
    height: 150px;
    border: black;
}

.team-member p {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
}

/* Styling for the aside section */
aside {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the section containing the company story */
.our-story {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style rules for footer content */
footer {
    background-color: #4da4eb;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
