/*
Student Name: Chloe Damchuk
File name: Microwave Training CSS Page
Date: October 17, 2024
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Style for navigation area */
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: center; 
    padding: 1%;
    margin: 1%;
    background-color: #4da4eb;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

.nav a {
    color: #4da4eb;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 4px;
}

nav li {
    display: inline-block; 
    font-size: 1em;
}

nav li a {
    padding: 0.5em 1em;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    background-color: #1e69b5;
    transform: scale(1.3);
}

/* Style rules for body and images */
body {
    font-family: "Times New Roman", Times, Serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

/* Style rules for header */
header {
    background-color: #4da4eb;
    padding: 20px 5px;
    text-shadow: auto;
    position: center;
}

/* Logo Image */
.header img {
    max-width: 100px;
    height: auto;
    top: 20px;
    left: 20px; 
    background-color: #4da4eb;
}

/* Header Title */
header h1 {
    margin: 10px 5px;
    font-size: 2.5em;
    font-family: "Times New Roman", Times, Serif;
    text-align: center;
    float: center;
    background-color: #4da4eb;
    padding: 20px 10px;
    color: white;
}

.header p {
    text-align: center;
}

/* Style rules for main content */
main {
    display: block;
    border-radius: auto;
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: "Times New Roman", Times, Serif;
    text-shadow: auto;
    overflow: auto;
    width: 100%;
}

h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

main p {
    text-align: center;
}

/* Styling for the table */
table {
    width: 100%;
    border: 2px solid #4da4eb;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Table caption style */
caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

/* Header cell style */
th {
    background-color: #4da4eb;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Table cell style */
td {
    padding: 10px;
    border: 1px solid #4da4eb;
    text-align: left;
}

/* Apply alternating row colors */
.alt-row {
    background-color: white;
}

/* Hover effect for table rows */
tr:hover {
    background-color: #d1e4f3;
}

/* Footer style */
footer {
    text-align: center;
    font-size: 1em;
    padding: 20px;
    background-color: #4da4eb;
    color: white;
    margin-top: 20px;
}
